{
	# Disable the admin API unless you need it.
	admin off
}

:80 {
	root * /var/www/html
	encode zstd gzip

	@phpFiles path *.php
	php_fastcgi unix//run/php/php8.4-fpm.sock

	file_server

	header {
		Cache-Control "public, max-age=60"
	}

	@previewAssets path /share/share.jpg /thumb.php
	header @previewAssets X-Robots-Tag "noindex, nofollow, noarchive, notranslate"

	@nonPreviewAssets not path /share/share.jpg /thumb.php
	header @nonPreviewAssets X-Robots-Tag "noindex, nofollow, noarchive, nosnippet, notranslate"

	log {
		output stdout
		format console
	}
}
